@import 'sass-bootstrap/lib/bootstrap';
@import 'http://fonts.googleapis.com/css?family=Anaheim&effect=anaglyph';

.hero-unit {
    margin: 50px auto 0 auto;
    width: 300px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
#container {
	text-align: center;
}

#gamemenu {
	margin-top: 4em;
}

#gametitle {
	font-family: 'Anaheim', sans-serif;
	margin-bottom: 1.75em;
}

.gamemodelabel {
	font-family: 'Anaheim', sans-serif;
	font-size: 2em;
	margin-bottom: 1.50em;
}
